<!DOCTYPE html>
<html>
<head>
    <title>Test</title>
    <script src="vendor/js/platform/platform.js"></script>
    <link rel="import" href="dependencies/paper-input/paper-input.html">

</head>
<body unresolved>
    <div ng-controller="Controller as ctrl" class="container">


        <form class="form-horizontal">
            <paper-input ng-model="ctrl.textValue" label="Number" floatingLabel></paper-input>
            <paper-input id="test" type="number" max="100" ng-model="ctrl.numericValue" label="Number" floatingLabel></paper-input>
        </form>

    <script src="vendor/js/angular/angular.js"></script>

    <script src="vendor/js/ng-polymer-elements/ng-polymer-elements.js"></script>

    <script>

        angular.module('example', ['ng-polymer-elements'])
                .controller('Controller', function() {

                    this.textValue = 'Initial Text Input Value';

                    this.booleanValue = true;

                    this.radioValue = 0;

                    this.numericValue = 42;

                    this.listData = [];

                    this.addListItem = function() {
                        this.listData.push({
                            itemNumber: parseInt(10000 * Math.random())
                        })
                    };

                    for(var i = 0; i < 5; i++) {
                        this.addListItem();
                    }

                    this.clearList = function() {
                        this.listData = [];
                    };

                    this.tapListItem = function(event) {
                        alert("Tapped item # " + event.detail.data.itemNumber);
                    };

                    this.renameListItem = function(item) {
                        item.itemNumber = parseInt(10000 * Math.random());
                    };

                    this.removeListItem = function(index) {
                        this.listData.splice(index, 1);
                    };
                });

    </script>

</body>
</html>
