h1
  color: $gray
  font-weight: 300
  font-size: 2rem
  line-height: 1.3
  margin: rem-calc(50) 0

  &.horizontal-line
    position: relative
    text-align: center
    overflow: hidden

    &:before, &:after
      content: '\a0'
      width: 48%
      top: 50%
      height: 1px
      position: absolute
      background-color: $gray

    &:before
      margin-left: -50%

    &:after
      margin-left: 2%

.green
  color: $green
