<div class="registration-form">
    <h1 class="horizontal-line">Register</h1>
    <div class="registration-profile-image-holder">
        <div gravatar-image data-gravatar-email="auth.emailadress" data-gravatar-css-class="profile-image"></div>
    </div>
    <div class="field">
        <label ng-show="auth.username" class="show-hide">Username</label>
        <input type="text" ng-model="auth.username" placeholder="Username"/>
    </div>
    <div class="field">
        <label ng-show="auth.emailadress" class="show-hide">Email</label>
        <input type="text" ng-model="auth.emailadress" placeholder="Email address"/>
    </div>
    <div class="field">
        <label ng-show="auth.password" class="show-hide">Password</label>
        <input type="text" ng-model="auth.password" placeholder="Password"/>
    </div>
</div>
