/*** Navbar ***/
$navbar-height: 64px !default;
$navbar-height-mobile: 56px !default;

/*** Colors ***/
$white: #ffffff;
$eh-green: #03a37e;

$h2-fontsize: 2.5rem;
$h3-fontsize: 2rem;

$roboto-font-path: "/font/roboto/";
$icons-font-path: "/font/material-design-icons/";
