.button-list {
  margin: 20px 0 20px 0;
}

.btn {
  letter-spacing: .0px;
  font-size: 12px;
  padding: 0 25px;
}

.flat {
  color: #444;
  margin-right: 10px;
}

.mdl-button {
  &.selected, &:hover {
    background-color: inherit;
    border-bottom: 2px solid #03a37e;
  }
}
