@import 'mixins';

.mdl-layout {
  height: initial;
}

.full-window-container {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  transform-style: preserve-3d;
}

.page-content {
  padding: 80px 10px;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

show-renderer {
  display: inline-block;
}

.hide {
  display: none;
}

.blur {
  -webkit-filter: blur(10px);
     -moz-filter: blur(10px);
       -o-filter: blur(10px);
          filter: blur(10px);
  -webkit-transform: translateZ(0);
     -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
       -o-transform: translateZ(0);
          transform: translateZ(0);
}

.clear {
  clear: both;
}

.mobile-nav {
    height: 56px;
    width: 100%;
    background-color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    box-shadow: 0 7px 25px #888;
    z-index: 1;

    @include tablet-and-up {
        display: none;
    }
}

footer {
    display: none;

    @include tablet-and-up {
        display: block;
    }
}
