.mdl-layout {
  height: initial;
}

.full-window-container {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  transform-style: preserve-3d;
}

.page-content {
  padding: 80px 10px;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 1419px) { max-width: 1135px; }
  @media screen and (min-width: 1640px) { max-width: 1312px; }
  @media screen and (min-width: 1862px) { max-width: 1489px; }
}

show-renderer {
  display: inline-block;
}
