.nav-wrapper {
  @extend .teal;
  box-shadow: none;
  border-bottom: 1px solid #d8d8d8;

  @media #{$large-and-up} {
    background-color: $white !important;
    padding: 10px;

    ul {
      padding-right: 2.5rem;
      list-style: none;
      list-style-image: none;
      list-style-type: none;
      margin-top: 25px;

      li {
        margin: 0 .7rem;
        padding: 0 .7rem;
        float: left;
      }
    }

    ul li:hover,
    ul li.active {
      a {
        color: map-get($teal, "lighten-5");
        background-color: map-get($teal, "lighten-1");
      }
    }

    ul a {
      color: #333;
      font-weight: 300;
      font-size: 1rem;
      padding: 20px 20px;
      text-decoration: none;
      text-transform: uppercase;
      transition: all .4s ease-out;
    }
  }

}

a.brand-logo {
  @media #{$large-and-up} {
    img {
      height: 75px;
    }
  }
}
