header {
  display: block;
  position: fixed;
}

.nav-wrapper {
  @extend .teal;
  box-shadow: none;
  border-bottom: 1px solid #d8d8d8;

  @media #{$large-and-up} {
    background-color: $white !important;
    padding: 10px;

    ul {
      padding-right: 2.5rem;
      list-style: none;
      list-style-image: none;
      list-style-type: none;
      margin-top: 25px;

      li {
        margin: 0 .7rem;
        padding: 0 .7rem;
        float: left;
      }
    }

    ul li:hover,
    ul li.active {
      a {
        color: map-get($teal, "lighten-5");
        background-color: map-get($teal, "lighten-1");
      }
    }

    ul a {
      color: #333;
      font-weight: 300;
      font-size: 1rem;
      padding: 20px 20px;
      text-decoration: none;
      text-transform: uppercase;
      transition: all .4s ease-out;
    }
  }

}

.mdl-layout__header-row {
  height: inherit;
}

.mdl-layout__header-row .mdl-navigation__link {
  font-weight: 300;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  color: #333;
  transition: all .2s ease-out;
  border-bottom: 3px solid rgba(0,0,0, 0);
  cursor: pointer;

  &:hover {
    border-bottom: 3px solid #03a37e;
  }

}

.logo-image {
  height: 50;
}

.mdl-layout__header {
  background-color: rgba(0,0,0,0);
  box-shadow: none;

  @media #{$large-and-up} {
    background-color: rgba(253, 253, 253, .9);
    opacity: 1;
    border-bottom: 1px solid #d8d8d8;
  }

}

.mdl-layout__header .mdl-layout__drawer-button {
  color: #333;
}
