.auth--info-box {
    margin: 100px;
    background-color: #fff;
    padding: 0 15px;
    position: absolute;
    left: 50px;
    top: 50px;
    opacity: 0.7;

    h1 {
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
        color: rgb(80, 80, 80);
        font-size: 3.5rem;
        font-weight: 300;
        text-transform: uppercase;

        span {
            color: $eh-green;
        }
    }

    p {
        color: #6d6b6c;
        font-size: 18px;
        margin-top: 15px;
        line-height: 22px;
        text-decoration: none;
    }
}

.auth--register-button {
    position: absolute;
    bottom: 100px;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
}

.auth--registration-profile-image-holder {
    text-align: center;
    height: 86px;

    img {
        border-radius: 40px;
    }
}

.auth--flying-button {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
}

.auth--spinner-holder {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -50px 0 0 -50px;
}
