<div class="page-content">
  <h2>Upcoming</h2>
  <div class="divider"></div>

  <div class="overflow_hidden poster_holder">
    <div class="upcoming">

      <div *ngIf="!!upcoming.justAired.length">
        <h3>just aired</h3>
        <episode-renderer *ngFor="#episode of upcoming.justAired" [episode]="episode"></episode-renderer>
      </div>

      <div *ngIf="!!upcoming.thisWeek.length">
        <h3>this week</h3>
        <episode-renderer *ngFor="#episode of upcoming.thisWeek" [episode]="episode"></episode-renderer>
      </div>

      <div *ngIf="!!upcoming.nextWeek.length">
        <h3>next week</h3>
        <episode-renderer *ngFor="#episode of upcoming.nextWeek" [episode]="episode"></episode-renderer>
      </div>

      <div *ngIf="!!upcoming.upcoming.length">
        <h3>upcoming</h3>
        <episode-renderer *ngFor="#episode of upcoming.upcoming" [episode]="episode"></episode-renderer>
      </div>

      <div *ngIf="!!upcoming.tba.length">
        <h3>tba</h3>
        <episode-renderer *ngFor="#episode of upcoming.tba" [episode]="episode"></episode-renderer>
      </div>
    </div>
  </div>
</div>
