<div>
    <div class="auth--flying-button">
      <a style="margin: 10px" class="waves-effect waves-light btn" [routeAndScroll]="['/Login']" [view]="routerOutlet">Login</a>
      <a style="margin: 10px" class="waves-effect waves-light btn" [routeAndScroll]="['/Forgot']" [view]="routerOutlet">Forgot</a>
      <a style="margin: 10px" class="waves-effect waves-light btn" [routeAndScroll]="['/Register']" [view]="routerOutlet">Register</a>
    </div>
    <div class="full-window-container auth--fanart">
        <div class="auth--info-box">
            <h1>Welcome to Episod<span>EH</span>unter</h1>
            <p>Automatically track what you are watching on your media center and build a completely<br>history record of every TV show and movie you are watching and be notified about what<br>to see next.<br><br>Register and meet pure awesomeness</p>
        </div>
        <div class="auth--register-button">
            <a class="waves-effect waves-light btn-large" [routeAndScroll]="['/Register']" [view]="routerOutlet">Register</a>
        </div>
    </div>

    <div class="full-window-container" id="js-register-section">
        <div class="container vertical-align">
            <div class="row">
                <router-outlet #routerOutlet></router-outlet>
            </div>
        </div>

    </div>

</div>
