<div register-form> <!-- transclude -->

    <div class="full-window-container auth--fanart">

        <div class="auth--info-box">
            <h1>Welcome to Episod<span>EH</span>unter</h1>
            <p>Automatically track what you are watching on your media center and build a completely<br>history record of every TV show and movie you are watching and be notified about what<br>to see next.<br><br>Register and meet pure awesomeness</p>
        </div>

        <div class="auth--register-button">
            <a class="waves-effect waves-light btn-large" ng-click="dir.registerButton()"><i class="mdi-hardware-keyboard-arrow-down left"></i>Register</a>
        </div>

    </div>

    <div class="full-window-container" id="js-register-section">

        <div class="container vertical-align">
            <div class="row">

                <div class="auth--spinner-holder" ng-show="dir.showSpinner">
                    <div class="preloader-wrapper big active">
                        <div class="spinner-layer spinner-blue">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div>
                            <div class="gap-patch">
                                <div class="circle"></div>
                            </div>
                            <div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>
                        <div class="spinner-layer spinner-red">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div>
                            <div class="gap-patch">
                                <div class="circle"></div>
                            </div>
                            <div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>

                        <div class="spinner-layer spinner-yellow">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div>
                            <div class="gap-patch">
                                <div class="circle"></div>
                            </div>
                            <div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>

                        <div class="spinner-layer spinner-green">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div>
                            <div class="gap-patch">
                                <div class="circle"></div>
                            </div>
                            <div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <form class="col s12" name="register_form">

                    <div class="auth--registration-profile-image-holder">
                        <div gravatar-image gravatar-email="vm.emailadress" gravatar-css-class="profile-image"></div>
                    </div>

                    <div class="row" id="js-email-row">
                        <div class="input-field col s12">
                            <input id="email" name="email" type="email" ng-model="vm.emailadress" ng-maxlength=255 ng-model-options="{ updateOn: 'blur' }">
                            <label for="email">Email</label>
                            <p class="form-error" ng-show="register_form.email.$error.email">
                                You email seems to be invalid
                            </p>
                            <p class="form-error" ng-show="register_form.email.$error.maxlength">
                                Do you realy have an email that are longer then 255 characters?
                                I'm sorry but I can't allow it.
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <input id="username" name="username" type="text" ng-pattern="/^[a-z][a-zA-Z0-9_]*$/" ng-minlength=3 ng-maxlength=32 ng-model="vm.username" ng-model-options="{ updateOn: 'blur' }">
                            <label for="username">Username</label>
                            <p class="form-error" ng-show="register_form.username.$error.pattern">
                                Your username must only contain alpha-numeric characters and underscores.
                            </p>
                            <p class="form-error" ng-show="register_form.username.$error.minlength">
                                Your username must contain at least 3 characters.
                            </p>
                            <p class="form-error" ng-show="register_form.username.$error.maxlength">
                                Your username cannot be longer than 32 characters.
                            </p>
                        </div>
                    </div>

                    <div class="row" id="js-password-row">
                        <div class="input-field col s12">
                            <input id="password" name="password" type="password" ng-minlength=6 ng-maxlength=100 ng-model="vm.password" ng-model-options="{ updateOn: 'blur' }">
                            <label for="username">Password</label>
                            <p class="form-error" ng-show="register_form.password.$error.minlength">
                                Your password must contain at least 6 characters.
                            </p>
                            <p class="form-error" ng-show="register_form.password.$error.maxlength">
                                Are you paranoid? Your password must be between 6 and 100 characters.
                            </p>
                        </div>
                    </div>

                    <div class="row" style="text-align: center">
                        <button ng-click="dir.submit()" ng-disabled="register_form.$invalid" class="btn waves-effect waves-light" type="submit" name="action">{{dir.submitButtonText}}
                            <i class="mdi-content-send right"></i>
                        </button>
                    </div>

                </form>
            </div>
        </div>

    </div>

</div>
