<div class="wrapper-history">
    <div class="content">
        <h1>History</h1>
        <span class="history">You have watched {{numberOfWatchedMovies | number:0}} movies and {{ numberOfWatchedEpisodes | number:0 }} episodes in {{ numberOfWatchedTvShows | number:0}} TV shows</span>
        <div class="dotted"></div>

        <p ng-show="!history_collection.length">Humm.. It seems that you haven't seen anything. Have you <a href="/xbmc">installed the plugin for xbmc</a></p>

        <div class="overflow_hidden" infinite-scroll="get()" infinite-scroll-disabled="infiniteScrollDisabled">
            <div style="margin-top: 30px;">
                <div ng-repeat="collection in history_collection">
                    <h4>{{ collection.headline }}</h4>
                    <div ng-repeat="media in collection.getAll()">
                        <div class="episode-list-img left">
                            <span class="clock">{{ media.utcTimestamp | moment:'HH:mm' }}</span>
                            <span class="remove">remove</span>

                            <a ng-href="#{{ media.url }}">
                                <img eh-history-thumbnail url="media.image">
                            </a>
                            <p>{{ media.title }}</p>
                            <p>{{ media.extraInfo() }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
