<div class="wrapper">
    <div class="content">
        <h1>{{ headline }}</h1>

        <div class="button-list">
            <div ng-repeat="button in buttons" style="display: inline">
                <button class="flat" ng-click="get(button)" ng-disabled="button.disabled">{{ button.text }}</button>
            </div>
        </div>

        <div class="overflow_hidden poster_holder">
            <div ng-repeat="media in collection.getAll()">
                <a ng-href="#{{ media.url }}">
                    <div class="poster">
                        <hgroup class="view-data">
                            <p class="views">{{ media.views }}</p>
                            <p class="text">views</p>
                        </hgroup>
                        <img eh-poster url="media.poster" />
                        <hgroup class="media-name">
                            <p>{{ media.title }}</p>
                        </hgroup>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
