<div class="wrapper">
  <div class="content">
    <h1>Upcoming</h1>
    <div class="overflow_hidden poster_holder" ng-show="episodeCollections.length">
      <div ng-repeat="collection in episodeCollections">
        <div class="upcoming" ng-show="collection.length">
          <h4>{{ collection.headline }}</h4>
          <div ng-repeat="episode in collection.getAll()">
            <a href="{{ episode.url }}">
              <div class="poster">
                <hgroup class="date-data" ng-show="episode.getAirDate()">
                  <p class="day">{{ episode.airTimestamp | moment:'DD' }}</p>
                  <p class="month">{{ episode.airTimestamp | moment:'MMM' }}</p>
                  <p class="year">{{ episode.airTimestamp | moment:'YYYY' }}</p>
                </hgroup>
                <div ng-show="episode.airTimestamp">
                  <hgroup class="show-name">
                    <p>{{ episode.seriesName }}</p>
                  </hgroup>

                  <hgroup class="episode-data" eh-show-episode-number-on-poster-hover>
                    <p>{{ episode.airTimestamp | moment:'dddd' }}</p>
                    <p>{{ episode.episodeNumber }}</p>
                  </hgroup>
                </div>
                <hgroup class="media-name" ng-show="!episode.airTimestamp">
                  <p>{{ episode.seriesName }}</p>
                </hgroup>
                <img eh-poster url="episode.poster" />
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div ng-show="loading_complete && !episodeCollections.length">
      <p id="no_upcoming_shows">It looks like you don't follow any series, maybe you can find a new series to follow <a href="/shows/popular">here</a></p>
      <p>Or do you want to follow some <a href="shows/featured">featured</a> TV shows? - <a href="shows/followfeatured">Yes, give me</a></p>
    </div>
  </div>

  <div class="content" ng-show="nowWatching.length">
    <h1>What the community is watching right now</h1>
    <div class="overflow_hidden poster_holder" id="watching">
      <div ng-repeat="media in nowWatching.getAll()">
        <a ng-href="{{ media.url }}">
          <div class="poster">
            <hgroup class="watchng-data">
              <p>{{ media.title }}</p>
            </hgroup>
            <img eh-poster url="media.poster" />
          </div>
        </a>
      </div>
    </div>
  </div>

</div>
